<div class="container">
  <div class="wrapper">
    <div class="main-container">
      @if (isSubmitting){
      <app-loader />
      } @else { @if (!parsedResponse) {
      <div class="x-form-container" [formGroup]="xForm">
        <div class="header">
          <h1>who are you?</h1>
          <p class="subtitle">
            drop your 𝕏 handle & I'll cook up a business card just for you
          </p>
        </div>

        <div class="content">
          <div class="input-wrapper">
            <mat-form-field class="input-group" appearance="fill">
              <mat-label>Username</mat-label>
              <span matPrefix class="prefix">&#64;</span>
              <input
                matInput
                id="username"
                type="text"
                formControlName="xUsername"
                placeholder="elonmusk"
                (keydown.enter)="submitUsername()"
              />
              <mat-hint
                >Enter your X (Twitter) username without the &#64;
                symbol</mat-hint
              >
            </mat-form-field>
          </div>
        </div>

        <div class="actions">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="submitUsername()"
          >
            <mat-icon>outdoor_grill</mat-icon>
            Cook
          </button>
        </div>
      </div>
      } @else {
      <div class="content-wrapper">
        <div
          class="idea-container"
          [@ideaSlide]="tweetsVisible ? 'up' : 'center'"
        >
          <app-idea
            [profileImage]="parsedResponse.profileImage"
            [username]="parsedResponse.username"
            [name]="parsedResponse.name"
            [followers]="parsedResponse.followers"
            [businessIdea]="parsedResponse.businessIdea"
          ></app-idea>
        </div>

        @if (parsedResponse.tweets && parsedResponse.tweets.length > 0) {
        <div
          class="tweets-container"
          [@tweetsSlide]="tweetsVisible ? 'center' : 'down'"
        >
          <app-tweet-selector
            [tweets]="parsedResponse.tweets"
            (onMoreTweets)="getMoreTweets()"
            (onConfirmSelection)="confirmTweetSelection($event)"
          ></app-tweet-selector>
        </div>
        }
      </div>

      @if (parsedResponse.tweets && parsedResponse.tweets.length > 0) {
      <button mat-button (click)="toggleTweets()">
        {{ tweetsVisible ? "Cancel" : "Customize Tweets" }}
      </button>
      } } }
    </div>
    @if (parsedResponse) {
    <button
      mat-raised-button
      color="accent"
      class="download-btn"
      (click)="shareOnX()"
    >
      <mat-icon>share</mat-icon>
      Share on 𝕏
    </button>
    <button
      mat-button
      class="download-btn-secondary"
      (click)="downloadScreenshot()"
    >
      <mat-icon>download</mat-icon>
      Download business card
    </button>

    }
  </div>
  <div class="ideas-container">
    <div class="ideas-scroller">
      <ng-container *ngFor="let result of pastResults; let i = index">
        <app-idea
          class="idea"
          [profileImage]="result.profileImage"
          [username]="result.username"
          [followers]="result.followers"
          [businessIdea]="result.businessIdea"
          [size]="'small'"
        ></app-idea>
      </ng-container>
      <!-- Duplicate the content for seamless looping -->
      <ng-container *ngFor="let result of pastResults; let i = index">
        <app-idea
          class="idea"
          [profileImage]="result.profileImage"
          [username]="result.username"
          [followers]="result.followers"
          [businessIdea]="result.businessIdea"
          [size]="'small'"
        ></app-idea>
      </ng-container>
    </div>
  </div>
</div>
